html,
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  color: #333;
  background-color: #fff !important;
}

html,
body,
#root,
.App {
  height: 100%;
}

* {
  box-sizing: border-box;
  /* 去掉 轮播图 chrome浏览器的错误警告 */
  touch-action: pan-y;
}

h2,
p,
ul,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}